{
  "languages": [
    "en",
    "vi",
    "ja"
  ],
  "defaultLanguage": "en",
  "language": "en",
  "roles": {
    "root": "root",
    "admin": "admin",
    "guest": "guest"
  },
  "passwordDefault": "123456",
  "APP_KEY": {
    "4012": "digital",
    "4014": "advertise",
    "4016": "campsite"
  }
}
