{
  "languages": [
    "en",
    "vi",
    "ja"
  ],
  "defaultLanguage": "en",
  "language": "en",
  "roles": {
    "root": "root",
    "admin": "admin",
    "agency": "agency",
    "customer": "customer",
    "maker": "maker",
    "checker": "checker",
    "streamer": "streamer"
  },
  "passwordDefault": "123456"
}
